

.header{
background-image: url("backgroun.jpg");
margin: 10px auto;
color:white;
height: auto;
text-align: center;
font-family:'Times New Roman';
font-size: 60px;

}


.Titles{
    color: black;
    
    text-decoration-line:underline;
    text-decoration-color: black;
    font-family: 'Noto Sans';
    font-size: 30px;
    margin-left:200px;
    margin-right:350px;
    
}

.Info{
font-size: 17px;
margin-left:400px;
margin-right:400px;
padding: 10px;
border:3px solid lightblue;
overflow:visible;
}

.TourExample{
    margin-left:500px;
    margin-right:500px;
}